:root {
    font-size: calc(10px + 0.4vw);
}

body {
    margin: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(255, 239, 239), rgb(255, 239, 239));
}

#backgroundtext {
    color: black;
    text-align: center;
}

.test {
    text-align: center;
    background-color: teal;
}


.content {
    max-width: 1000px;
    margin: auto;
    padding: 1px;
}

p {
    font-size: 1.688rem;
    line-height: 1.5;
    margin: 0 0 1em 0;
    text-align: justify;
}

/* Green color for headings */
h1,
h2,
h3 {
    color: #000000;
    background-color: rgb(255, 213, 213);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Red color for links */
a {
    color: #8B0000;
}

/* Green background for success messages */
.success {
    background-color: #90EE90;
}

/* Red background for error messages */
.error {
    background-color: #FF4500;
}

/* Add a green border to certain elements */
.green-border {
    border: 2px solid #006400;
}

/* Add a red border to certain elements */
.red-border {
    border: 2px solid #8B0000;
}


.caption {
    display: block;
    font-family: 'Comic Sans MS';
    font-size: 1.875rem;
    font-style: italic;
    background-color: #e4e4e4;
    margin: auto;
    padding: 5px;
    color: black;

    min-height: 100px;
    padding: 20px 50px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 30%;
    padding: 1vw;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row img {
    max-width: 30vw;
    padding: 1px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/*this is the top of the website*/
.team-section {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 0px 40px;
    padding-bottom: 70px;
}

.team-section img {
    width: 50%;
    border-radius: 3vw;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.team-section .team-text {
    width: 50%;
    margin-left: 50px;
}

.team-section h3 {
    font-weight: normal;
    font-size: 1.35rem;
}

.team-section h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.team-section p {
    font-size: 1.125rem;
    color: #555;
    line-height: 1.5;
}

.previous-robots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 6rem;
}

.previous-robots img {
    max-width: 30%;
    max-height: 70vh;
    margin: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.previous-robots img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

@media only screen and (max-width: 550px) {
    .previous-robots {
        flex-wrap: wrap;
        margin-inline: 0px;
    }

    .previous-robots img {
        width: 35%;
    }

}

@media (orientation: portrait) {
    .team-section {
        flex-direction: column;
        margin: 0px;
        gap: 15px;
    }

    .team-section > * {
        width: 100% !important; 
    }

    .team-section .team-text {
        margin-left: 0px;
    }
}

.content2 {
    max-width: 100%;
    overflow-x: auto;
    margin: auto;
}

.modernDivider {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block
}

.line {
    height: 10px;
    width: 100%;
    clear:both;
}
.lineUpsidedown {
    height: 10px;
    width: 100%;
    clear:both;
}


.line:nth-child(1) {
    background-color: rgba(255, 0, 0, 0.8); /* Adjust the opacity of the second line */
}

.line:nth-child(2) {
    background-color: rgba(255, 0, 0, 0.6); /* Adjust the opacity of the third line */
}

/* Add more lines and adjust their opacity as needed */

.line:nth-child(3) {
    background-color: rgba(255, 0, 0, 0.4); /* Adjust the opacity of the fourth line */
}
.line:nth-child(4) {
    background-color: rgba(255, 0, 0, 0.2); /* Adjust the opacity of the fourth line */
}
.lineUpsidedown:nth-child(1) {
    background-color: rgba(255, 0, 0, 0.2); /* Adjust the opacity of the second line */
}

.lineUpsidedown:nth-child(2) {
    background-color: rgba(255, 0, 0, 0.4); /* Adjust the opacity of the third line */
}

/* Add more lines and adjust their opacity as needed */

.lineUpsidedown:nth-child(3) {
    background-color: rgba(255, 0, 0, 0.6); /* Adjust the opacity of the fourth line */
}
.lineUpsidedown:nth-child(4) {
    background-color: rgba(255, 0, 0, 0.8); /* Adjust the opacity of the fourth line */
}