/* global CSS used in every subpage */

.content {
    position: relative;
    background-image: linear-gradient(90deg, rgb(255 235 235) 0%, rgb(255 255 255) 33%, rgb(255 255 255) 66%, rgb(233 230 255) 100%);
    width: 100%;
    height: fit-content;
    padding-top: 3%;
}

.text-box {
    justify-self: center;
    width: fit-content;
    height: fit-content;
    padding: 13px 23px;
    border-radius: 10px;
    margin-inline: auto;
    font-family: "Open Sans", serif;
    font-size: 21px;
    font-weight: 450;
    line-height: 30px;
    margin-left: calc(20vw);
    margin-right: calc(20vw);
}
.text-box,.text-box-wide {
    max-width: 700px;
    justify-self: center;
}
.margins {
    margin-left: calc(20vw);
    margin-right: calc(20vw);
}
.column {
    margin-top: 0px;
    column-count: 2;
    break-inside: avoid;
    column-width: 526px;
}

.header {
    font-family: "Open Sans", serif;
    text-align: center;
    align-self: center;
    margin: 0;
    font-size: calc(2rem + 1vw);
}
.mini-header {
    font-family: "Open Sans", serif;
    text-align: center;
    align-self: center;
    margin: 0;
    font-size: calc(3vw - 1rem);
}
.center {
    display: flex;
    justify-content: center;
}
.popout-header {
    background-color: rgba(255, 255, 255, 0.229);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: fit-content;
    padding: 13px 23px;
    border-radius: 10px;
}
.vertical-split {
    display: flex;
    margin-inline: auto;
    margin-block: 10px;
    gap: 0px;
}
.vertical-split-column {
    display: flex;
    flex-direction: column;
    width: auto;
    flex: 1; 
    margin: 0 1vw 0 1vw;
    max-width: 50%;
    /*padding: 23px;*/
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
    .text-box {
        margin-left: 15px;
        margin-right: 15px;
    }
}

/* 308 AND 7178 CSS SECTION */
.previous-robots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 6rem;
}
.previous-robots img {
    max-width: 30%;
    max-height: 70vh;
    margin: 1.5rem;
    transition: all 0.3s ease-in-out;
}
.divider-bar {
    border-top: dashed;
    height: 5px;
    width: 100%;
}