body {
	background-image: linear-gradient(to right, rgb(255, 188, 188), rgb(188, 188, 255));
	margin: 0;
	font-family: 'Roboto', Helvetica, sans-serif;
}

.topnav {
	overflow: hidden;
	padding: 1px;
	background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 255));
}

.topnav a {
	border-radius: 5%;
	float: left;
	/*color: #f2f2f2;*/
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	transition: background-color 100ms ease-out 100ms, color 100ms ease-out 100ms;

}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

#backgroundtext {
	color: black;
	text-align: center;
}

.test {
	text-align: center;
	background-color: teal;
}


.content {
	max-width: 80%;
	margin: auto;
	padding: 1px;
}

.walls {
	max-width: 50%;
	margin: auto;
	padding: 1px;
}





.firstYoutube {
	max-width: 80%;
	margin: auto;
	padding: 1px;
	padding-top: 13%;
	margin-top: 2%;
}

.screen {
	max-width: 80%;
	margin: auto;
	padding: 1px;
	padding-top: 13%;
	margin-top: 2%;
}

.column {
	margin-top: 0px;
	column-count: 2;
	break-inside: avoid;
	column-width: 526px;
	
}


.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	object-fit: contain;
}



.divider-bar{
    border-top: dashed;
    height: 5px;
    width: 100%;
  }

  
/*
body::-webkit-scrollbar {
	width: 11px;
}


body::-webkit-scrollbar-track {
	background-image: linear-gradient(red, blue);
	
}

body::-webkit-scrollbar-thumb {
	background-color: cyan;
	border-radius: 10px;
}
*/
/* the mobile part of css*/

@media only screen and (max-width: 420px) {
	.topnav {
		padding: 0%;

	}

	.topnav a {
		padding: 10px 18px;
	}
}
/* keyframes for something */
@keyframes scrollbarThumb {
	from {
		background-color: red;
	}
	to {
		background-color: blue;
	}
	to {
		background-color: blue;
	}
	to {
		background-color: red;
	}
}