/* This is the main css file that all of the webpages use */

:root {
    font-size: calc(10px + 0.4vw);
}

body {
    background-image: linear-gradient(to right, rgb(255, 188, 188), rgb(188, 188, 255));
    margin: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
}

.text-box {
    background-color: rgba(255, 255, 255, 0.229);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: fit-content;
    /* max-width: 80vw; */
    padding: 13px 23px;
    border-radius: 10px;
}

.test {
    text-align: center;
    background-color: teal;
}

.content {
    margin: auto;
    padding: 10px 20px;
}

.walls {
    max-width: 50%;
    margin: auto;
    padding: 1px;
}

.firstYoutube {
    max-width: 80%;
    margin: auto;
    padding: 1px;
    padding-top: 13%;
    margin-top: 2%;
}

.screen {
    max-width: 80%;
    margin: auto;
    padding: 1px;
    padding-top: 13%;
    margin-top: 2%;
}

.column {
    margin-top: 0px;
    column-count: 2;
    break-inside: avoid;
    column-width: 526px;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: contain;
}

.divider-bar {
    border-top: dashed;
    height: 5px;
    width: 100%;
}

.previous-robots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 6rem;
}

.previous-robots img {
    max-width: 30%;
    max-height: 70vh;
    margin: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.previous-robots img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

@media only screen and (max-width: 550px) {
    .previous-robots {
        flex-wrap: wrap;
        margin-inline: 0px;
    }

    .previous-robots img {
        width: 35%;
    }

}

/*
body::-webkit-scrollbar {
	width: 11px;
}


body::-webkit-scrollbar-track {
	background-image: linear-gradient(red, blue);
	
}

body::-webkit-scrollbar-thumb {
	background-color: cyan;
	border-radius: 10px;
}
*/

/* keyframes for something */
@keyframes scrollbarThumb {
    from {
        background-color: red;
    }

    to {
        background-color: blue;
    }

    to {
        background-color: blue;
    }

    to {
        background-color: red;
    }
}