/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");*/

footer {
    margin-top: 3vh;
    position: relative;
    background-image: linear-gradient(to right, rgb(255, 225, 225), rgb(225, 230, 255));
    min-height: 100px;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    background: rgba(255, 255, 255, 0.2);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    /*background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));*/
    margin: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
}

footer p {
    color: rgb(0, 0, 0);
    margin: 15px 0 10px 0;
    font-size: 16px;
    font-weight: 300;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
    gap: 7px;
}
.credit {
    color:black
}
@media only screen and (max-width: 600px) {
    .menu {
        display: none;
    }
}

.social-icon__item,
.menu__item {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-icon__item:hover a {
    transform: translateY(-5px);
}

.social-icon__link {
    font-size: 2rem;
    color: #2d2d2d;
    margin: 0 10px;
    display: inline-block;
    transition: 0.3s;
}

.menu__item:hover {
    width: 7rem;
}

.social-icon__item:hover {
    background-color: rgba(255, 255, 255, 0.5)
}

.menu__item {
    width: 5rem;
    transition: width .2s;
}

.menu__link {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.93);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
    width: fit-content;
    /* padding-left: 20px; */
}

.menu__link:hover {
    opacity: 1;
}

/* Footer template: 
<footer>
    <ul class="social-icon">
        <li class="social-icon__item">
            <a class="social-icon__link" href="https://www.facebook.com/groups/972328127497050"><ion-icon name="logo-facebook"></ion-icon></a>
        </li>
        <li class="social-icon__item">
            <a class="social-icon__link" href="https://twitter.com/wl_robotics?lang=en"><ion-icon name="logo-twitter"></ion-icon></a>
        </li>
    </ul>

    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="index.html">Home</a></li>
        <li class="menu__item"><a class="menu__link" href="first.html">FIRST</a></li>
        <li class="menu__item"><a class="menu__link" href="occra.html">OCCRA</a></li>
        <li class="menu__item"><a class="menu__link" href="308.html">308</a></li>
        <li class="menu__item"><a class="menu__link" href="7178.html">7178</a></li>
        <li class="menu__item"><a class="menu__link" href="https://www.brodysonline.com/walledlakehsrobotics" target="_blank">Shop</a></li>
    </ul>
    
    <p>&copy;2024 Walled Lake Robotics</p>
</footer> 
*/

.wave-container {
    position: relative;
    /* same size as image height */
    margin-top: 100px; 
}
/*
.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("image/7178.png");
    background-size: 100px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 10s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0;
    bottom: 15px;
    animation: animateWaves 20s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 15s linear infinite;
}
*/
@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

/* Logo Wave template: 
<div class="wave-container">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
</div> 
*/