.topnav {
    overflow: hidden;
    padding: 1px;
    background-image: linear-gradient(to right, rgb(235, 0, 0), rgb(20, 20, 255));
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.topnav, .topnav * {
    box-sizing: border-box;
}

.topnav a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0px 16px;
    padding-top: 12px;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.2s;
    height: 50px !important; 
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    /* Note: default line height is about 24px */
    line-height: 30px;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
}

.topnav a:hover img{
    filter: invert(1);
    transition: 0.2s;
}



/* Mobile responsiveness stuff */


#mobile-x-button, #burger {
    display: none;
}

@media only screen and (max-width: 550px) {
    .mobile {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        z-index: 100;
        right: 0;
        top: 50px;
        min-width: 30vw;
        max-width: 60vw;

        display: none;

    }

    .mobile a {
        text-align: right;
    }

    .topnav {
        display: flex;
        justify-content: space-between;
    }

    #mobile-x-button, #burger {
        display: block;
    }

    .topnav a:hover {
        line-height: 24px;
    }
}

/* Nav template: 
<nav class="topnav">
    <a href="index.html" style="line-height: 24px; padding-top: 9px;"><img src="image/home.png" alt="Home logo" style="height:35px; width:35px;"></a>
    <div class="mobile">
        <img src="image/xicon.png" alt="x button" id="mobile-x-button" style="position: absolute; width: 30px; height: 30px; cursor: pointer;">
        <a href="first.html">FIRST</a>
        <a href="occra.html">OCCRA</a>
        <a href="308.html">308</a>
        <a href="7178.html">7178</a>
        <a href="sponsors.html">Sponsors</a>
        <a href="contact.html">Contact Us</a>
        <a href="https://www.brodysonline.com/walledlakehsrobotics" target="_blank">Shop</a>
    </div>
    <a href="#" style="line-height: 24px; padding-top: 9px;" id="burger"><img src="image/burbur.png" alt="menu icon" style="height:35px; width:35px;"></a>
</nav>

<script src="js/nav.js"></script>
*/