#hero {
    height: 800px;
    overflow: hidden;
    position: relative;
}

#content {
    background-color: #130d0a;
}

.layer {
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    position: fixed;
    z-index: -1;
}

.layer-4 {

    width: 100%;
    size: 30%;
    padding-top: 100px;

    height: 800px;
    position: fixed;
    z-index: -1;
}

#hero-mobile {
    display: none;
    background: url("image/download (9).png") no-repeat center bottom/cover;
    height: 320px;
}

.first-section {
    padding: 50px 0 20px 0;
}




#hero,
.layer {
    min-height: 800px;
}

.layer-bg {
    background-image: url("image/ilu_bg.jpg");
}

.layer-1 {
    background-image: url("image/chargedup.png");
    background-position: left top;
}

.layer-5 {
    background-image: url("image/download__13_-removebg-preview.png\a 		");
    background-position: left top;

}

.layer-2 {
    background-image: url("image/308buildings.png");
    background-position: bottom;
    background-size: 1200px 300px;
    background-position-y: 500px;
}

.layer-4 {
    background-image: url("image/backrobo.png 		");
    background-position: right bottom;
    background-position-x: 1500px;
    background-position-y: 376px;
    background-size: 320px 457px;
}

.layer-7 {
    background-image: url("image/light.png\a 		");
    background-position-x: 1300px;
    background-position-y: 100px;

}

.layer-8 {
    background-image: url("image/light.png\a 		");
    background-position-x: 1200px;
    background-position-y: 200px;

}

.layer-3 {
    background-image: url("image/smoke.png\a 		");

}

.layer-6 {
    background-image: url("image/download (9).png\a 		");
    background-position: right top;
}

.layer-overlay {
    background-image: url("image/ilu_overlay.png\a 		");
}

@media only screen and (max-width: 768px) {
    #hero {
        display: none;
    }

    #hero-mobile {
        display: block;
    }
}

.tutorial-link {
    color: #fff;
    font-size: 18px;
    text-decoration: underline;
}

.tutorial-link:hover {
    color: #ede0d5;
}